1. Import the necessary libraries

In [48]:
import pandas as pd
import numpy as np

2. Import the dataset chipotle.tsv

3. Assign it to a variable called chipo

In [49]:
chipo = pd.read_csv('chipotle.tsv',sep="\t")

4. See the first 10 entries

In [50]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

5. What is the number of observations in the dataset?

In [8]:
chipo.shape

(4622, 5)

In [9]:
chipo.shape[0]

4622

In [10]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

6. What is the number of columns in the dataset?

In [11]:
chipo.shape[1]

5

7. Print the name of all the columns

In [12]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

8. How is the dataset indexed?

In [13]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

9. Which was the most-ordered item?

In [14]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [15]:
chipo.describe(include="object")

           item_name choice_description item_price
count           4622               3376       4622
unique            50               1043         78
top     Chicken Bowl        [Diet Coke]     $8.75
freq             726                134        730

In [16]:
chipo.describe(include="all")

           order_id     quantity     item_name choice_description item_price
count   4622.000000  4622.000000          4622               3376       4622
unique          NaN          NaN            50               1043         78
top             NaN          NaN  Chicken Bowl        [Diet Coke]     $8.75
freq            NaN          NaN           726                134        730
mean     927.254868     1.075725           NaN                NaN        NaN
std      528.890796     0.410186           NaN                NaN        NaN
min        1.000000     1.000000           NaN                NaN        NaN
25%      477.250000     1.000000           NaN                NaN        NaN
50%      926.000000     1.000000           NaN                NaN        NaN
75%     1393.000000     1.000000           NaN                NaN        NaN
max     1834.000000    15.000000           NaN                NaN        NaN

In [17]:
most_order=chipo[['item_name','order_id','quantity']].groupby("item_name").sum()
most_order

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

In [18]:
most_order.sort_values("quantity", ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

11. What was the most ordered item in the choice_description column?

In [19]:
most_order2

NameError: name 'most_order2' is not defined

12. How many items were orderd in total?

In [20]:
chipo["quantity"].sum()

np.int64(4972)

13. Turn the item price into a float

a. Check the item price type

In [21]:
chipo["item_price"].dtype

dtype('O')

In [22]:
print(chipo["item_price"].dtype)

object

In [23]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

b. Create a lambda function and change the type of item price

In [24]:
chipo["item_price"]=chipo["item_price"].apply(lambda x:float (x[1:]))

In [25]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

c. Check the item price type

In [29]:
chipo['item_price'].dtype

dtype('float64')

14. How much was the revenue for the period in the dataset?

In [30]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
chipo['revenue'].sum()

np.float64(39237.02)

In [31]:
revenue

np.float64(39237.02)

15. How many orders were made in the period?

In [35]:
orders = chipo["order_id"].nunique()

In [36]:
orders

1834

In [32]:
chipo["order_id"]== 926

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: order_id, Length: 4622, dtype: bool

16. What is the average revenue amount per order?

          quantity  item_price
order_id
1              1.0    2.890000
2              2.0   16.980000
3              1.0    6.335000
4              1.0   10.500000
5              1.0    6.850000
...            ...         ...
1830           1.0   11.500000
1831           1.0    4.300000
1832           1.0    6.600000
1833           1.0   11.750000
1834           1.0    9.583333

[1834 rows x 2 columns]

In [54]:
chipo

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,$2.39
1,1,1,Izze,[Clementine],$3.39,$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,$16.98 $16.98
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,$8.75

In [55]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,$2.39
1,1,1,Izze,[Clementine],$3.39,$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,$16.98 $16.98

In [35]:
chipo.groupby(["order_])

SyntaxError: unterminated string literal (detected at line 1) (3312770377.py, line 1)

In [36]:
items_sold = chipo.goupbe(['order_id'] ).nunique()
items_sold

AttributeError: 'DataFrame' object has no attribute 'goupbe'

17. How many different items are sold?

In [37]:
chipo['item_name'].value_counts()

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

In [49]:
chipo['item_name'].value_counts().count()

50

18. How many products cost more than $10.00?

In [43]:
items = chipo[chipo['item_price'] > 10]

In [44]:
products = items['item_name'].nunique()
products

31

In [51]:
product =items['item_name'].value_counts().count()

19. What is the price of each item?

In [61]:
unique_items = chipo['item_name'].nunique()
unique_items

50

In [64]:

len(chipo[['item_name','item_price']].groupby('item_name').mean())

TypeError: agg function failed [how->mean,dtype->object]

In [65]:
chipo[['item_name','item_price']].groupby('item_name').mean()

TypeError: agg function failed [how->mean,dtype->object]

20. Sort by the name of the item

In [44]:
sorted_chipo = chipo.sort_values(by='item_name')
print(sorted_chipo[['item_name', 'quantity', 'item_price']].head(10))

              item_name  quantity item_price
3389  6 Pack Soft Drink         2    $12.98
341   6 Pack Soft Drink         1     $6.49
1849  6 Pack Soft Drink         1     $6.49
1860  6 Pack Soft Drink         1     $6.49
2713  6 Pack Soft Drink         1     $6.49
3422  6 Pack Soft Drink         1     $6.49
553   6 Pack Soft Drink         1     $6.49
1916  6 Pack Soft Drink         1     $6.49
1922  6 Pack Soft Drink         1     $6.49
1937  6 Pack Soft Drink         1     $6.49

21. What was the quantity of the most expensive item ordered?

In [67]:
chipo[['quantity', 'item_name', 'item_price']].max()

quantity                     15
item_name     Veggie Soft Tacos
item_price               $9.39
dtype: object

In [68]:
max(chipo['quantity'])

15

In [ ]:
chipo[chipo['quantity']==chipo['quantity'].max()]

22. How many times was a Veggie Salad Bowl ordered?

In [46]:
count = chipo[chipo['item_name'] == 'Veggie Salad Bowl'].shape[0]
count

18

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25

23. How many times did someone order more than one Canned Soda?

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
revenue               20
dtype: int64

In [47]:
filtered_table = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]
print(filtered_table.to_string(index=True))

      order_id  quantity    item_name choice_description item_price                   revenue
18           9         2  Canned Soda           [Sprite]     $2.18               $2.18 $2.18
51          23         2  Canned Soda     [Mountain Dew]     $2.18               $2.18 $2.18
162         73         2  Canned Soda        [Diet Coke]     $2.18               $2.18 $2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]     $2.18               $2.18 $2.18
350        150         2  Canned Soda        [Diet Coke]     $2.18               $2.18 $2.18
352        151         2  Canned Soda        [Coca Cola]     $2.18               $2.18 $2.18
698        287         2  Canned Soda        [Coca Cola]     $2.18               $2.18 $2.18
700        288         2  Canned Soda        [Coca Cola]     $2.18               $2.18 $2.18
909        376         2  Canned Soda     [Mountain Dew]     $2.18               $2.18 $2.18
1091       450         2  Canned Soda       [Dr. Pepper]     $2.18               $2.18 $2.18
1092       450         2  Canned Soda        [Coca Cola]     $2.18               $2.18 $2.18
1944       787         2  Canned Soda       [Dr. Pepper]     $2.18               $2.18 $2.18
2135       859         2  Canned Soda        [Diet Coke]     $2.18               $2.18 $2.18
2235       901         4  Canned Soda           [Sprite]     $4.36   $4.36 $4.36 $4.36 $4.36
2905      1156         2  Canned Soda        [Coca Cola]     $2.18               $2.18 $2.18
2906      1156         2  Canned Soda           [Sprite]     $2.18               $2.18 $2.18
3152      1258         2  Canned Soda       [Dr. Pepper]     $2.18               $2.18 $2.18
3364      1349         2  Canned Soda        [Coca Cola]     $2.18               $2.18 $2.18
3592      1440         2  Canned Soda        [Diet Coke]     $2.18               $2.18 $2.18
3866      1550         2  Canned Soda     [Mountain Dew]     $2.18               $2.18 $2.18

In [48]:
count = filtered_table.shape[0]
count

20